<form method="POST" (ngSubmit)="submit()">
    <div>

        <div>
            <label for="txtNombre">Nombre</label>
            <input class="w3-input w3-border" type="text" id="txtNombre" name="txtNombre" placeholder="Nombre" [(ngModel)]="model.Nombre" />
        </div>
        <div>
            <label for="txtApellidos">Apellidos</label>
            <input class="w3-input w3-border" type="text" id="txtApellidos" name="txtApellidos" placeholder="Apellidos" [(ngModel)]="model.Apellidos"  />
        </div>
        <div>
            <label for="txtUsuario">Usuario</label>
            <input class="w3-input w3-border" type="text" id="txtUsuario" name="txtUsuario" placeholder="Usuario" [(ngModel)]="model.Nombre_Usuario" />
        </div>
        <div>
            <label for="txtEmail">Email</label>
            <input class="w3-input w3-border" type="text" id="txtEmail" name="txtEmail" placeholder="Email" [(ngModel)]="model.Correo_Electronico" />
        </div>
        <div>
            <label for="txtContrasena">Contraseña</label>
            <input class="w3-input w3-border" type="text" id="txtContrasena" name="txtContrasena" placeholder="Contraseña" [(ngModel)]="model.Contrasena" />
        </div>
        <div>
            <label for="txtEdad">Edad</label>
            <input class="w3-input w3-border" type="number" id="txtEdad" name="txtEdad"  [(ngModel)]="model.Edad" />
        </div>
        <div>
            <label for="txtEstatura">Estatura</label>
            <input class="w3-input w3-border" type="number" id="Estatura" name="Estatura" [(ngModel)]="model.Estatura" />
        </div>
        <div>
            <label for="txtPeso">Peso</label>
            <input class="w3-input w3-border" type="number" id="txttxtPeso" name="txtPeso" [(ngModel)]="model.Peso" />
        </div>
        <div>
            <label for="txtGEB">GEB</label>
            <input class="w3-input w3-border" type="number" id="txttxtGEB" name="txtGEB" [(ngModel)]="model.GEB" />
        </div>
        <div>
            <button type="submit" class="w3-btn w3-blue w3-ripple">Guardar</button>
        </div>
    </div>
</form>